element {
    aspect: a;
    prototype: a;
    vertical-scrollbar: a;
    horizontal-scrollbar: a;
    horizontal-align: a;
    scroll-manner: a;
    scroll-manner-x: a;
    scroll-manner-y: a;
    mapping: a;

    context-menu: a;
    style-set: a;
    scroll-manner: a;
    font-rendering-mode: sub-pixel;

    popup-position: a;
    popup-anchor-reference-point: a;
    popup-reference-point: a;
    
    flow: horizontal;
    flow-rows: a;
    flow-columns: a;

    text-selection: a;
    text-selection-color: a;
    text-selection-background-color: a;
    text-selection-caret-color: a;
    
    size: a;
    hit-margin: a;
    border-spacing: a;

    list-marker-color: a;
    list-marker-size: a;
    list-marker-style: a;

    foreground: a;
    foreground-color: a;
    foreground-image: a;
    foreground-attachment: a;
    foreground-repeat: a;
    foreground-position: a;
    foreground-size: a;
    foreground-image-cursor: a;
}

@set a
{
    element {
        width: a;
    }
}

@mixin a(a)
{

}

@image-map a
{

}

@const DARK: #111;

